html {
  font-family: 'Roboto', sans-serif;
  scroll-snap-type: y proximity;
  scroll-padding-top: 80px;
}

body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 80px;
}

::-webkit-scrollbar {
  background-color: #104145;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1b6b72;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  margin-top: 80px;
}

.spacer-one {
  height: 200px;
  background: linear-gradient(#0b2e31, #7c1b40);
}

.spacer-two {
  height: 200px;
  background: linear-gradient(#7c1b40, #1B7C57);
}